<h2>Workouts from All of Mister Fitness!</h2>
<br>
<table id="workouts">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
    <th scope="col">Exercises</th>
    <th scope="col">User</th>
    <th scope="col"></th>
  </tr>
<% @workouts.each do |w| %>
    <tr>
      <td><%= w.name %></td>
      <td><%= w.created_at.strftime("%Y/%m/%d") %></td>
      <td><%= w.description %></td>
      <td><%= w.exercises.collect { |e| e.name }.join(", ") %></td>
      <td><%= w.user.username %></td>
      <form action="/workouts" method="POST">
      <td><input id="edit" type="submit" value="Clone"></td>
      <input type="hidden" name="clone_id" value="<%= w.id %>">
      </form>
    </tr>
<% end %>
</table>
<br>
<a href="/workouts/new"><input type="button" value="Create New Workout"></a>
<br>
<br>
<a href="/workouts"><input type="button" value="Back to My Workouts"></a>