<h2>Your Workouts</h2>
<br>
<table id="workouts">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
    <th scope="col">Exercises</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
<% @workouts.each do |w| %>
    <tr>
      <td><%= w.name %></td>
      <td><%= w.created_at.strftime("%a %x, %-I:%m %p") %></td>
      <td><%= w.description %></td>
      <td><%= w.exercises.collect { |e| e.name }.join(", ") %></td>

      <td><a href="/workouts/<%= w.id %>"><input id="edit" type="submit" value="Edit"></a></td>

      <form action="/workouts" method="POST">
      <input type="hidden" name="clone_id" value="<%= w.id %>">
      <td><input id="edit" type="submit" value="Clone"></td>
      </form>

      <form action="/workouts/<%= w.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <td><input id="delete" type="submit" value="Delete"></td>
      </form>
    </tr>
<% end %>
</table>
<br>
<a href="/workouts/new"><input type="submit" value="Create New Workout"></a>
<br>
<br>
<a href="/exercises"><input type="submit" value="See All Exercises"></a>
<br>
<br>
<a href="/workouts/community"><input type="submit" value="See Community Workouts"></a>