<h1><%= @workout.name %></h1>
<h3>Created <%= @workout.created_at %></h3>
<br>
<form action="/workouts/<%= @workout.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <h2>Edit workout attributes</h2>
  <table id="workout_detail">
    <tbody>
        <th>Name</th>
        <th>Description</th>
        <th>Instructions</th>
        <th></th>
      </tr>
      <tr>
        <td><input type="text" name="workout[name]" value="<%= @workout.name %>"></td>
        <td><textarea rows="5" cols="25" name="workout[description]"><%= @workout.description %></textarea></td>
        <td><textarea rows="5" cols="25" name="workout[instructions]"><%= @workout.instructions %></textarea></td>
        <td><input type="submit" value="Update!"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
</form>
<br>
<br>
<br>
<h2>Edit exercises</h2>
<table id="exercises">
  <tbody>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Instructions</th>
      <th scope="col">Total Weight</th>
      <th scope="col">Reps</th>
      <th scope="col">Sets</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @workout.exercises.each do |e| %>
    <tr>
      <td></td>
      <td><%= e.name %></td>
      <td><%= e.description %></td>
      <td><%= e.instructions %></td>
      <td><%= e.weight %></td>
      <td><%= e.reps %></td>
      <td><%= e.sets %></td>
      <td><a href="/exercises/<%= e.id %>/edit"><input id="edit" type="submit" value="Edit"></a></td>
      
      <form action="/exercises/<%= e.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <td><input id="delete" type="submit" value="Delete"></td>
      </form>

      <form action="/exercises" method="POST">
      <input type="hidden" name="clone_id" value="<%= e.id %>">
      <td><input id="edit" type="submit" value="Clone"></td>
      </form>
    </tr>
    <% end %>
    <tr>
      <form action="/exercises" method="POST">
        <td></td>
        <td><input type="text" name="exercise[name]" placeholder="Create a new exercise..."></td>
        <td><textarea rows="2" cols="10" name="exercise[description]" placeholder="Description..."></textarea></td>
        <td><textarea rows="2" cols="10" name="exercise[instructions]" placeholder="Instructions..."></textarea></td>
        <td><input id="number" type="text" name="exercise[weight]"></td>
        <td><input id="number" type="text" name="exercise[reps]"></td>
        <td><input id="number" type="text" name="exercise[sets]"></td>
        <td><input id="add" type="submit" value="Add"></td>
        <td></td>
        <td></td>
        <input type="hidden" name="exercise[workout_id]" value="<%= @workout.id %>">
      </form>
    </tr>
  </tbody>
</table>
<br>
<h4>Add an existing exercise: </h4>
<br>
<form action="/exercises" method="POST">
  <select name="clone_id">
  <% @exercises.each do |e| %>
    <option value="<%= e.id %>"><%= "Name: #{e.name} / Weight: #{e.weight} / Reps: #{e.reps} / Sets: #{e.sets}"%></option>
  <% end %>
  </select>
<input id="add" type="submit" value="Add">
</form>
<br>
<br>
<a href="/workouts"><input type="submit" value="Return to Workout Index"></a>
<br>
<br>
<form action="/workouts/<%= @workout.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Workout!">
</form>
