<h1>Workout detail page</h1>
<br>
<h2><%= @workout.name %> (<%= @workout.created_at.strftime("%Y-%m-%d") %>)</h2>
<form action="/workouts/<%= @workout.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">

<table>
  <caption>Edit workout attributes below</caption>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Instructions</th>
    </tr>
    <tr>
      <td><input type="text" name="name" value="<%= @workout.name %>"></td>
      <td><textarea name="description"><%= @workout.description %></textarea></td>
      <td><textarea name="instructions"><%= @workout.instructions %></textarea></td>
    </tr>
  </tbody>
</table>
<br>
<br>
<input type="submit" value="Update Workout Details!">
<br>
<br>
</form>
<br>
<h2>Exercises</h2>
<br>
<form action="/exercises" method="POST">
<table id="exercises">
  <tbody>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Instructions</th>
      <th scope="col">Weight</th>
      <th scope="col">Reps</th>
      <th scope="col">Sets</th>
    </tr>
    <% @workout.exercises.each do |e| %>
    <tr>
      <td></td>
      <td><%= e.name %></td>
      <td><%= e.description %></td>
      <td><%= e.instructions %></td>
      <td><%= e.weight %></td>
      <td><%= e.reps %></td>
      <td><%= e.sets %></td>
    </tr>
    <% end %>
    <tr>
        <td></td>
        <td><input type="text" name="exercise[name]"></td>
        <td><textarea name="exercise[description]">Description...</textarea></td>
        <td><textarea name="exercise[instructions]">Instructions...</textarea></td>
        <td><input id="number" type="text" name="exercise[weight]"></td>
        <td><input id="number" type="text" name="exercise[reps]"></td>
        <td><input id="number" type="text" name="exercise[sets]"></td>
    </tr>
  </tbody>
</table>
<br>
<input type="hidden" name="exercise[workout_id]" value="<%= @workout.id %>">
<input type="submit" value="Add Exercise to Workout!">
</form>
<br>
<a href="/workouts"><input type="submit" value="Return to Workout Index"></a>