<h1>Workout Show page</h1>
<h2><%= @workout.name %></h2>
<h3>Created <%= @workout.created_at.strftime("%Y/%m/%d") %></h3>
<br>
  <table id="workout_detail">
    <tbody>
        <th>Name</th>
        <th>Description</th>
        <th>Instructions</th>
        <th></th>
      </tr>
      <tr>
        <td><%= @workout.name %></td>
        <td><%= @workout.description %></td>
        <td><%= @workout.instructions %></td>
        <td><a href="/workouts/<%= @workout.id %>/edit"><input type="button" value="Edit!"></a></td>
      </tr>
    </tbody>
  </table>
</form>
<br>
<h2>Exercises</h2>
<% if @workout.exercises.empty? %>
  <p>This workout does not have any exercises.</p>
<% else %>
  <table id="exercises">
    <tbody>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Instructions</th>
        <th scope="col">Total Weight</th>
        <th scope="col">Reps</th>
        <th scope="col">Sets</th>
      </tr>
      <% @workout.exercises.each do |e| %>
      <tr>
        <td></td>
        <td><%= e.name %></td>
        <td><%= e.description %></td>
        <td><%= e.instructions %></td>
        <td><%= e.weight %></td>
        <td><%= e.reps %></td>
        <td><%= e.sets %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<form action="/exercises/new" method="GET">
  <input type="hidden" name="exercise[workout_id]" value="<%= @workout.id %>">
  <td><input type="submit" value="Add a Brand New Exercise!"></td>
</form>
<br>
<a href="/workouts"><input type="submit" value="Return to Workout Index"></a>
<br>
<br>
<a href="/exercises"><input type="submit" value="Return to Exercises Index"></a>
<br>
<br>
<form action="/workouts/<%= @workout.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Workout!">
</form>
