<h1>Edit Exercise!</h1>

<form action="/exercises/<%= @exercise.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">

<label>Choose an existing workout</label>
<select name="exercise[workout_id]">
<option selected="selected" value="<%= @exercise.workout.id %>"><%= @exercise.workout.name %></option>
<% @workouts.each do |w| %>
  <option value="<%= w.id %>"><%= w.name %></option>
<% end %>
</select>

<br>
<br>
<label for="exercise[name]">Update name: </label>
<input type="text" name="exercise[name]" value="<%= @exercise.name %>">
<br>
<br>
<label for="exercise[description]">Enter a description: </label>
<textarea name="exercise[description]"><%= @exercise.description %></textarea>
<br>
<br>
<label for="exercise[instructions]">Enter instructions: </label>
<textarea name="exercise[instructions]"><%= @exercise.instructions %></textarea>
<br>
<br>
<label for="exercise[weight]">Enter a weight: </label>
<input type="text" name="exercise[weight]" value="<%= @exercise.weight %>">
<br>
<br>
<label for="exercise[reps]">Enter reps: </label>
<input type="text" name="exercise[reps]" value="<%= @exercise.reps %>">
<br>
<br>
<label for="exercise[sets]">Enter sets: </label>
<input type="text" name="exercise[sets]" value="<%= @exercise.sets %>">
<br>
<br>
<br>
<input type="submit" value="Update Exercise!">
</form>
<br>
<form action="/exercises/<%= @exercise.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Exercise!">
</form>
<br>
<br>
<a href="/exercises"><input type="submit" value="Go Back to Exercises Index"></a>