<h1>Exercises index!</h1>
<h3>Showing all exercises you've created</h3>
<br>
<ol>
<% @exercises.each do |e| %>
  <li><%= e.name %></li>
  <ul>
  <li>Date logged: <%= e.created_at.strftime("%a %m/%e/%y,%l:%M %p") %></li>
  <li>Description: <%= e.description %></li>
  <li>Instructions: <%= e.instructions %></li>
  <li>Weight: <%= e.weight %></li>
  <li>Reps: <%= e.reps %></li>
  <li>Sets: <%= e.sets %></li>
  <li>User ID: <%= e.workout.user_id %></li>
  <li>Workout ID: <%= e.workout_id %></li>
  <li>ID: <%= e.id %></li>
  <li><a href="/exercises/<%= e.id %>/edit"><input id="edit" type="button" value="Edit"></a>
  <a href="/exercises/<%= e.id %>"><input id="edit" type="button" value="Show"></a></li>
  <br>
  </ul>
<% end %>
</ol>
<a href="/exercises/new"><input type="button" value="Create New Exercise"></a>
<br>
<br>
<a href="/workouts"><input type="button" value="Return to Workout Index"></a>

